/* http://meyerweb.com/eric/tools/css/reset/  v2.0 | 20110126 License: none (public domain) */
@import url("https://use.typekit.net/zml3ebw.css");
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video { margin: 0; padding: 0; border: 0; font-size: 100%; font: inherit; vertical-align: baseline; }

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section { display: block; }

body { line-height: 1; }

ol, ul { list-style: none; }

blockquote, q { quotes: none; }

blockquote:before, blockquote:after, q:before, q:after { content: ''; content: none; }

table { border-collapse: collapse; border-spacing: 0; }

header { display: flex; align-items: center; justify-content: space-between; position: fixed; padding-bottom: 5px; width: 100%; z-index: 1; top: 0; }

header .logo-group { display: flex; align-items: baseline; }

header .logo-group .logo { color: #050720; font-size: 2.5em; font-family: "dunbar-tall", sans-serif; margin-left: 5px; }

header .logo-group .dot { background: #ffc266; height: 10px; width: 10px; border-radius: 50%; margin-left: 3px; }

header nav { margin-right: 10px; }

header nav a { color: #050720; margin: 0 5px; font-size: 0.9em; position: relative; font-family: "josefin-sans", sans-serif; text-transform: uppercase; }

header #menu-btn { display: none; margin-right: 10px; margin-top: 10px; cursor: pointer; z-index: 1; }

@media only screen and (max-width: 768px) { nav { display: none; position: absolute; background: #050720; height: 100vh; width: 100vw; top: 0; left: 0; flex-direction: column; align-items: center; justify-content: space-evenly; font-size: 2em; } nav a { color: white !important; } #menu-btn { display: block !important; } #menu-btn.opened svg { fill: white; } #menu-btn.closed svg { fill: black; } }

#hero { height: 100vh !important; }

#hero .inner-container::before { position: absolute; content: ""; background: #ffc266; height: 3px; width: 100px; }

#hero .inner-container h1 { font-family: "dunbar-tall", sans-serif; color: #050720; font-size: 5em; margin-bottom: 20px; }

@media only screen and (max-width: 600px) { #hero .inner-container h1 { font-size: 3em; } }

#hero .inner-container h1::before { display: none; }

#hero .inner-container h2 { color: white; font-size: 1.5em; margin-bottom: 20px; line-height: 30px; }

#hero img { position: absolute; right: 0; bottom: 0; z-index: -99; width: 1000px; bottom: 20px; }

#hero .circle { background: #7fd6ff; width: 100vw; height: 100vh; position: absolute; top: 0; left: 0; right: 0; bottom: 0; margin: auto; z-index: -99; animation: circle 5s ease forwards; }

#hero.blue { background: #050720; }

@keyframes circle { to { width: 300px;
    height: 300px;
    border-radius: 50%;
    background: #ffc266; } }

.boxes { display: flex; align-items: center; justify-content: space-evenly; margin: 50px 0; }

@media only screen and (max-width: 992px) { .boxes { flex-direction: column; } }

.boxes .box { width: 330px; height: 420px; display: flex; flex-direction: column; justify-content: space-around; padding: 20px; }

@media only screen and (max-width: 992px) { .boxes .box { width: inherit; height: inherit; margin-bottom: 50px; } }

.boxes .box h6 { font-family: "josefin-sans", sans-serif; }

.boxes .box h2 { font-size: 5em; font-family: "dunbar-tall", sans-serif; }

.boxes .box.wide { width: 100%; height: 200px; }

.boxes .box.primary { background: #ffc266; }

.boxes .box.secondary { background: #c36262; }

.boxes .box.white { background: white; color: #050720; }

.boxes .box.transparent { background: transparent; color: #050720; }

.objects { display: flex; align-items: center; justify-content: space-evenly; margin-top: 50px; flex-wrap: wrap; }

.objects .column { padding: 10px; width: 250px; height: 250px; background: #ffffff1a; text-align: center; display: flex; align-items: center; justify-content: center; flex-direction: column; margin-bottom: 35px; }

.objects .column p { font-size: 1em; font-family: "josefin-sans", sans-serif; }

.objects .column span { font-size: 3em; color: #ffffff; font-family: "josefin-sans", sans-serif; }

#about img.main { margin-bottom: 20px; }

#about ul.staff-members { display: flex; align-items: center; justify-content: space-evenly; margin-bottom: 100px; flex-wrap: wrap; }

#about ul.staff-members .staff-member { margin-bottom: 30px; }

#about ul.staff-members .staff-member .column-img { width: 300px; position: relative; }

@media only screen and (max-width: 600px) { #about ul.staff-members .staff-member .column-img { width: inherit; } }

#about ul.staff-members .staff-member .column-img .img-hover { opacity: 0; transition: opacity 1s; position: absolute; top: 0; width: 100%; background-color: #ffffffcc; height: 100%; display: flex; align-items: center; justify-content: center; }

#about ul.staff-members .staff-member .column-img .img-hover a { font-family: "josefin-sans", sans-serif; text-decoration: none; padding-bottom: 5px; color: black; border-bottom: 2px solid black; transition: color 1s, border-bottom 1s; }

#about ul.staff-members .staff-member .column-img .img-hover a:hover { color: #6d6d6d; border-bottom: 2px solid #6d6d6d; }

#about ul.staff-members .staff-member .column-img .img-hover:hover { opacity: 1; }

#about ul.staff-members .staff-member .column-info-inner { display: flex; margin-top: 10px; margin-bottom: 5px; }

#about ul.staff-members .staff-member .column-info-inner .staff-name { font-family: "josefin-sans", sans-serif; font-size: 1.7em; margin-right: 10px; }

#about ul.staff-members .staff-member .column-info-inner svg { margin: 0 3px; fill: black; transition: fill 1s; }

#about ul.staff-members .staff-member .column-info-inner svg:hover { fill: #a0a0a0; }

#about ul.staff-members .staff-member .staff-position { font-family: 'josefin-sans'; color: grey; }

#blog h3 { margin-bottom: 15px; font-size: 0.9em; }

#staff-page img { width: 300px; }

#staff-page li { margin-bottom: 20px; }

#staff-page li a { text-decoration: underline; }

ul.staff-preview li { height: 210px; }

ul.staff-preview .staff-column { display: flex; margin-bottom: 30px; }

ul.staff-preview .staff-column .column-img { margin-right: 20px; }

ul.staff-preview .staff-column .column-img .img-container { height: 200px; width: 200px; overflow: hidden; }

ul.staff-preview .staff-column .column-img .img-container img { width: 120%; }

ul.staff-preview h2 a { transition: color 1s; }

ul.staff-preview h2 a:hover { color: #a2c1ff; }

ul.staff-preview .column-info { width: 600px; }

ul.staff-preview .staff-position { color: #899fca; margin-top: -5px; }

#job-page button.apply { background-color: #050720; color: white; border: 0; padding: 10px 15px; border-radius: 3px; cursor: pointer; transition: background-color 1s; margin-top: 20px; }

#job-page button.apply:hover { background-color: #050720cf; }

#job-page li { list-style: disc; margin-left: 20px; }

#jobs h3 { font-size: 0.9em; }

a.staff-name { color: #899fca; text-decoration: underline; }

#contact p { margin-top: 20px; margin-bottom: 30px; }

#contact form { display: flex; flex-direction: column; }

#contact form label { margin-bottom: 5px; font-family: "josefin-sans", sans-serif; }

#contact form input, #contact form textarea { margin-bottom: 25px; font-family: -apple-system, system-ui, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif; padding: 25px 25px; background: #050720; border: 0; color: white; font-size: 1em; }

#contact form textarea { resize: vertical; }

#contact form input[type="submit"] { background-color: transparent; font-size: 1em; color: black; border: 0; transition: background-color 1s, color 1s, border-bottom 1s; cursor: pointer; font-family: "josefin-sans", sans-serif; border-bottom: 3px solid black; }

#contact form input[type="submit"]:hover { background-color: #050720; color: white; border-bottom: 3px solid #ffc266; }

#contact .contact-info { display: flex; flex-direction: column; }

#contact .contact-info a { text-decoration: none; font-size: 2em; font-family: "josefin-sans", sans-serif; color: #ffc266; }

#contact .contact-info a + a { margin-top: 10px; }

#contact svg.phone { position: absolute; left: 0; bottom: 0; width: 1000px; height: 1000px; z-index: -1; fill: #0000000f; }

#contact .address { font-family: "josefin-sans", sans-serif; }

footer { background: #050720; color: white; padding: 1px; position: relative; overflow: hidden; z-index: 0; }

footer a { color: white; text-decoration: underline; transition: color 1s; }

footer a:hover { color: #ffc266; }

footer h2 { font-family: 'dunbar-tall'; font-size: 4em; margin-bottom: 20px; color: #ffc266; }

@media only screen and (max-width: 768px) { footer h2 { font-size: 2em; } }

footer .sm { margin: 35px 0; }

footer .sm a { text-decoration: none; }

footer .sm a + a { margin-left: 5px; }

footer .sm svg { width: 30px; height: 30px; fill: white; transition: fill 1s; }

footer .sm svg:hover { fill: #ffc266; }

footer .copyright { margin: 15px 0; }

footer .circle { position: absolute; top: -252px; right: -172px; background: #03051b; height: 800px; width: 800px; border-radius: 50%; z-index: -1; animation: expanding-circle 5s ease infinite alternate; }

@keyframes expanding-circle { from { height: 800px;
    width: 800px; }
  to { height: 500px;
    width: 500px; } }

body { font-family: -apple-system, system-ui, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif; }

::selection { background: #1d1d1d; color: white; }

a { text-decoration: none; color: black; }

img { width: 100%; }

section { width: 100%; height: 100vh; display: flex; align-items: center; justify-content: center; position: relative; overflow: hidden; }

@media only screen and (max-width: 768px) { section { height: 100%; } }

section.secondary { background: #ffc266; }

section.secondary h1 { z-index: 0; }

section.secondary h1::before { z-index: -1; background-color: white; }

.inner-container { width: 1000px; margin: 100px auto; padding: 30px; }

@media only screen and (max-width: 1200px) { .inner-container { width: inherit; } }

.inner-container a { text-decoration: underline; }

.inner-container h1 { margin-bottom: 30px; font-size: 2.5em; font-family: "dunbar-tall", sans-serif; color: #050720; position: relative; display: table; }

@media only screen and (max-width: 600px) { .inner-container h1 { font-size: 1.5em; } }

.inner-container h1::before { background-color: #ffc266; height: 8px; width: 100%; position: absolute; content: ""; bottom: -2px; z-index: -1; left: -7px; }

.inner-container h2.alt { font-size: 3em; font-family: "dunbar-tall", sans-serif; margin-bottom: 30px; }

@media only screen and (max-width: 600px) { .inner-container h2.alt { font-size: 1.5em; } }

p { line-height: 25px; margin-bottom: 15px; font-size: 1.1em; }

li { margin-bottom: 20px; }

.button { padding: 11px 20px; font-size: 1.2em; display: inline-flex; border-radius: 3px; border: 1px solid #050720; transition: background-color 1s, color 1s, border 1s; text-decoration: none !important; }

.button + .button { margin-left: 10px; }

@media only screen and (max-width: 400px) { .button + .button { margin-left: 0; } }

.button.main { background-color: #050720; color: white; }

.button.secondary { background-color: transparent; color: #050720; }

.button:hover { background-color: #f9b754; color: #ffffff; border: 1px solid #bb9f75; }

h2.about, h2.posts, h2.social { font-size: 1.5em; color: #050720; margin-bottom: 20px; margin-top: 40px; position: relative; display: table; font-family: "dunbar-tall", sans-serif; }

h2.about::before, h2.posts::before, h2.social::before { background-color: #c1dbff; height: 8px; width: 100%; position: absolute; content: ""; bottom: -2px; z-index: -1; left: -7px; }

.read-more { text-decoration: underline; color: #899fca; transition: color 1s; }

.read-more:hover { color: #a2c1ff; }

.large-side-word { position: fixed; top: 0; right: 30px; font-size: 5em; writing-mode: vertical-rl; bottom: 0; display: flex; align-items: center; justify-content: center; font-family: "josefin-sans", sans-serif; color: #0000000f; text-transform: uppercase; -webkit-touch-callout: none; /* iOS Safari */ -webkit-user-select: none; /* Safari */ -khtml-user-select: none; /* Konqueror HTML */ -moz-user-select: none; /* Old versions of Firefox */ -ms-user-select: none; /* Internet Explorer/Edge */ user-select: none; /* Non-prefixed version, currently supported by Chrome, Edge, Opera and Firefox */ }

.large-text { position: absolute; left: 20px; top: 10px; font-size: 7em; font-family: 'dunbar-tall'; color: #ffffff36; -webkit-touch-callout: none; /* iOS Safari */ -webkit-user-select: none; /* Safari */ -khtml-user-select: none; /* Konqueror HTML */ -moz-user-select: none; /* Old versions of Firefox */ -ms-user-select: none; /* Internet Explorer/Edge */ user-select: none; /* Non-prefixed version, currently supported by Chrome, Edge, Opera and Firefox */ }

@media only screen and (max-width: 768px) { .large-text { font-size: 4em; } }

.brands { display: flex; justify-content: space-evenly; }

@media only screen and (max-width: 768px) { .brands { flex-wrap: wrap; } }

.brands .img-container { width: 200px; height: 200px; }

h2 a { color: #050720; font-size: 1.7em; font-family: "dunbar-tall", sans-serif; margin-bottom: 9px; display: inline-flex; }

/*# sourceMappingURL=styles.css.map */